nav.navbar.navbar-expand-md.navbar-light
  button.navbar-toggler.bg-light.hidden-lg-up(type="button", data-toggle="collapse", data-target="#navbar-header", aria-controls="navbar-header", aria-expanded="false", aria-label=t('Toggle navigation'))
    span.navbar-toggler-icon
  a.navbar-brand.d-inline-block.m-0.p-0(l())
    img.d-inline-block(src=manifest('img/logo.jpg'), width=50, height=50, alt="").mr-1
    h1.h2.d-inline-block.align-middle.m-0= config.appName

  //- once we have responsive border utilities added to bootstrap
  //- then we can apply them to the anchor tags inside the navbar
  //- so that on mobile devices there is no border around the links
  //- <https://github.com/twbs/bootstrap/issues/25030>
  #navbar-header.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.ml-md-1.mt-1.mt-md-0
        a.btn.btn-lg.d-block.text-left.text-md-center(
          role='button',
          href=l('/login'),
          data-toggle=isRegisterOrLogin ? '': 'modal-anchor',
          data-target=isRegisterOrLogin ? '' : '#modal-sign-in',
          class=ctx.pathWithoutLocale === '/login' ? 'btn-success' : 'text-success'
        )= t('Sign in')
      li.nav-item.ml-md-1.mt-1.mt-md-0
        a.btn.btn-lg.d-block.text-left.text-md-center(
          role='button',
          href=l('/register'),
          data-toggle=isRegisterOrLogin ? '' : 'modal-anchor',
          data-target=isRegisterOrLogin ? '' : '#modal-sign-up',
          class=ctx.pathWithoutLocale === '/register' ? 'btn-success' : 'btn-outline-success'
        )= t('Create an account')
